@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body{
    font-family: poppins;
    background-color: rgb(44, 44, 44);
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

p{
    padding: 0;
    margin: 0;
}

h3{
    padding: 0;
    margin: 0;
}

.weather-app{
    width: 23vw;
    height: 85vh;
    background-color: white;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    vertical-align: middle;
    border-radius: 20px;
    background-image: url('../images/sunny.jpeg');
    background-size: cover;

    background-repeat: no-repeat;
}

.search{
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 30px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.searchbar {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin: 7px 24px;
    padding: 6px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: lightgrey solid 0.1px;
}

.searchbar input{
    background-color: white;
    padding: 5px 104px;
    padding-left:10px ;
    border: none;
    text-align: justify;
}

.searchbar input:focus{
    outline: 0;
}

.report {
    /* color: rgb(30, 30, 66); */
    color: white;
    text-align: center;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 100px;
    height: 50%;
    margin: auto;
    /* margin-top: inherit ; */
}



.report .climate{
    font-weight: 800;
    font-size:20px;
    /* padding: 5px; */
    padding-bottom: 2px;
}

.report .temperature {
    padding: 0;
    font-weight: 600;
    font-size: 120px;
    margin: 0;
}

.report .place{
    padding-top:10px ;
    font-weight: 800;
    font-size:20px;
}

.report .desc {
    font-weight: 500;
    font-size: 14px;
    padding: 0 4px;

}

.info {
    color: rgb(30, 30, 66);
    background-color: white;
    opacity: 80%;
    height: 231px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.info .side {
    /* border: 1px solid black; */
    padding: 2px ;
} 

.side h3{
    font-size: 16px;
    padding-bottom: 3px ;
}

.side p{
    padding-bottom: 20px ;
}