body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0rem;
    overflow: hidden;
}

.image-box {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    
}

.images {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0, -50%);
}

.text-container {
    display: flex;
    align-items: center;
}



.para {
    color: white;
    font-size: 5rem;
    vertical-align: middle;
}